* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    color: #007bff;
}

header p {
    font-size: 18px;
    color: #6c757d;
}

.search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-section input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

.search-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #0056b3;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    max-width: 100%;
    border-radius: 10px;
}

.recipe-card h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #007bff;
}

.recipe-card ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin-bottom: 20px;
}

.recipe-card li {
    margin-bottom: 5px;
}

.recipe-card p {
    color: #6c757d;
    margin-bottom: 15px;
}

.recipe-card button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.recipe-card button:hover {
    background-color: #218838;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    font-size: 14px;
    margin: 0;
}
